body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 22px;
  line-height: 1.8;
  color: #fcb900;
  background-color: #222222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron", Palatino Linotype, Book Antiqua, Palatino, serif;
  max-width: 85ch;
}

section {
  max-width: 85ch;
  margin: auto;
}
.marinating {
  background-color: #682058;
  padding: 1%;
}

.headerimage {
  display: block;
  width: 100%;
}
.image2 {
  float: right;
  border-radius: 50%;
}
